MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=web_lanjutan
MYSQL_USER=webuser
MYSQL_PASSWORD=webpass
PHP_PORT=8080
PHPMYADMIN_PORT=8081
MYSQL_PORT=3306
LARAVEL_PORT=8000

# Agar file di ./laravel-praktikum tetap milik user host (bisa diedit di Mac/Windows/Linux)
# Cek dengan: id -u && id -g
HOST_UID=501
HOST_GID=20
